@import "tailwindcss";

@theme {
	--color-brand: #eb2f06;
	--color-brand-light: #e55039;
	--color-accent: #fad390;
}


@layer base {
	body {
		font-family: "Poppins", sans-serif;
	}
	html {
		scroll-behavior: smooth;
	}
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #eb2f06;
	border-radius: 10px;
	border: 3px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
	background-color: black;
}

@keyframes slide {
	0% { width: 0%; }
	100% { width: 100%; }
}
